/lockd
/lockc
/cmd/lockd/lockd
/cmd/lockc/lockc
/server.pem
/client*.pem
/ca.pem
/THIRD_PARTY_LICENSES.md
/logs
/.gocache
bin/
\#*\#
.vscode/
.idea/
*.swp
*.swo
*~
*.log
*.test
vendor/
.env*
.env.local
