testdata/
!integration/query/querydata/
/lockd-bench
/lockd
/lockc
/cmd/lockd/lockd
/swagger/internal/swaggerhtml/swaggerhtml
/server.pem
/client*.pem
/ca.pem
/THIRD_PARTY_LICENSES.md
/logs
/.gocache
/integration-logs
/devenv/volumes
/devenv/out
/stash
/benchmark-logs/
/podman.yaml
bin/
\#*\#
.vscode/
.idea/
*.swp
*.swo
*~
*.log
!ycsb/performance.log
*.test
*.pprof
*.out
vendor/
.env*
.env.local
